<article class="scroller">

	<section id="homeAboutMe">
		<div class="container" id="">
			<div class="row justify-content-center align-items-center" >

				<div class="col-md-6" style="background-color: rgba(220, 220, 220, 0.762);  text-align: center; height: 700px; padding-top: 100px;">
					<div>
						<img class="rounded-circle img-fluid" alt="Headshot" src="./images/headshot.png"
							style="width:250px ; height:auto ;">
						<h1>
							Collin Stolpa
						</h1>
						<h5>Software / DevOps Engineer </h5>
						<div class="col-md-12">

							<a href="https://facebook.com/collin.stolpa"><i class="fa-brands fa-facebook fa-3x"></i></a>
							<a href="https://github.com/cstolps8"><i class="fa-brands fa-github fa-3x"></i></a>
							<a href="https://www.instagram.com/cstolps8/"><i
									class="fa-brands fa-instagram fa-3x"></i></a>
							<a href="https://www.linkedin.com/in/collin-stolpa-b0a832b0"><i
									class="fa-brands fa-linkedin fa-3x"></i></a>

						</div>
					</div>
				</div>

				<div class="col-md-6">
					<h1 class="text-center">
						About Me
					</h1>
					<p>
						Goal driven individual who is eager to expand and maintain their knowledge in the tools and
						culture
						of
						DevOps practices. I am an outgoing person who is very personable and team oriented. I consider
						myself a
						charismatic and proactive quick learner, who pays close attention to detail.
					</p>
					<div class="row " style="text-align: center ;">
						<div class="col-md-12">
							<div class="row ">
								<div class="col-md-6">
									<a href="contactMe/" class="button"><button class="button-54" role="button">Contact Me</button></a>
								</div>
								<div class="col-md-6">
									<a href="contactMe/" class="button"><button class="button-54" role="button">Resume</button></a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>


	<section id="softwareKnowledge">
		<div class="container ">

			<div class="row justify-content-center align-items-center">
				<div class="col-md-6">
					<div class="col-md-12" id="myKnowledge">
						<h3 class="">My Knowledge Level in software</h3>



					</div>
				</div>
				<div class="col-md-6">
					<img class=" img-fluid" alt="coding away" src="./images/HavingFunWithCollin2.jpeg"
						style="width:auto ; height:auto ;">

				</div>
			</div>
		</div>
	</section>

	<section id="attributes">
		<div class="container attributesContainer ">
			<div class="row justify-content-center align-items-center">
				<div class="col-md-12">
					<div class="features-clean"></div>
					<div class="row intro">
						<div class="col-sm-12 ">
							<h2 class="text-center"> Attributes </h2>
							<p class="text-center">Below are abilities that I would classify myself with </p>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-md-12">
						<div class="row features">
							<div class="col-sm-6 col-lg-4 item"><i class="fa-solid fa-map-location-dot icon"></i>
								<h3 class="name">Works Everywhere</h3>
								<p class="description">Happy to work remotley. Also I am willing to relocate</p>
							</div>
							<div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
								<h3 class="name">Always available</h3>
								<p class="description">I am quick to answer any questions, and solve problems when they
									arrive
								</p>
							</div>
							<div class="col-sm-6 col-lg-4 item"><i class="fa-solid fa-people-group icon"></i>
								<h3 class="name">Team Player</h3>
								<p class="description">I work best with others on projects big and small.</p>
							</div>
							<div class="col-sm-6 col-lg-4 item"><i class="fa-solid fa-list-check icon"></i>
								<h3 class="name">Problem Solver</h3>
								<p class="description">I like solving problems</p>
							</div>
							<div class="col-sm-6 col-lg-4 item"><i class="fa-solid fa-rocket icon"></i>
								<h3 class="name">Fast</h3>
								<p class="description">I like to run marathons and compete in obstacle course races.</p>
							</div>
							<div class="col-sm-6 col-lg-4 item"><i class="fa-solid fa-person-chalkboard icon"></i>
								<h3 class="name">Presenter</h3>
								<p class="description">I have always been a go getter for presenting on demos and
									upcoming
									topics within
									the industry.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="professionalHistory">
		<div class="container ">

			<div class="row justify-content-center ">
				<div class="col-md-12">
					<h2 class="text-center"> Professional History </h2>
				</div>
			</div>
			<div class="row justify-content-center ">
				<div class="col-md-6">
					<div class="timeline">
						<div class="outer">

							<div class="card">
								<div class="info">
									<h3 class="work"> Work </h3></i>
								</div>
							</div>

							<div class="card">
								<div class="info">
									<h3 class="card-title">FIS</h3>
									<i>November 2022 - Present</i>
									<p>DevOps Engineer II</p>

								</div>
							</div>

							<div class="card">
								<div class="info">
									<h3 class="card-title">FIS</h3>
									<i>November 2021 - November 2022</i>
									<p>Software Engineer II</p>

								</div>
							</div>

							<div class="card">
								<div class="info">
									<h3 class="card-title">FIS</h3>
									<i>Feburary 2018 - November 2021</i>
									<p>Software Test Analysist</p>

								</div>
							</div>

							<div class="card">
								<div class="info">
									<h3 class="card-title">Edgewater Real Estate</h3>
									<i>September 2019 - December 2020</i>
									<p>Building Manager</p>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="timeline ">
						<div class="outer">

							<div class="card">
								<div class="info">
									<h3 class="education"> Education</h3></i>
								</div>
							</div>


							<div class="card">
								<div class="info">
									<h3 class="card-title">University Of Wisconsin Whitewater</h3>
									<i>2013-2018</i>
									<h5>Bachelors Degree: Computer Science</h5>
									<h5>Minor: Web Development</h5>
									<p>Club President of Paintball team. </p>
								</div>
							</div>

							<div class="card">
								<div class="info">
									<h3 class="card-title">Arrowhead Highschool</h3>
									<i>2009-2013</i>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="howToArticles">
		<div class="container">
			<div class="row justify-content-center ">
				<div class="col-md-12">
					<h2 class="text-center"> Articles and How To's </h2>
				</div>
			</div>

			<div class="py-5">
				<div class="container">
					<div class="row hidden-md-up">

						<div class="col-md-4">
							<div class="article-card">
								<div class="article-card-block">
									<h4 class="article-card-title ">Applied Quantum Optimization in Payment Fraud Detection White Paper</h4>
									<h6 class="article-card-subtitle text-muted">July 2021</h6>
									<p class="article-card-text p-y-1">Manmeet Singh, Mani Singh and Collin Stolpa, FIS</p>
									<div class="article-card-read-more">
										<a href="/articles" class="btn btn-link btn-block article-card-link">
											Read More
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="article-card">
								<div class="article-card-block">
									<h4 class="article-card-title">The Future of FinTech: Implications of 5G for Financial Services</h4>
									<h6 class="article-card-subtitle text-muted">March 2021</h6>
									<p class="article-card-text p-y-1">Manmeet Singh, Mani Singh and Collin Stolpa, FIS</p>
									<div class="article-card-read-more">
										<a href="/articles" class="btn btn-link btn-block article-card-link">
											Read More
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="article-card">
								<div class="article-card-block">
									<h4 class="article-card-title">How to use Git</h4>
									<h6 class="article-card-subtitle text-muted">Support card subtitle</h6>
									<p class="article-card-text p-y-1">Some quick example text to build on the card title .</p>
									<div class="article-card-read-more">
										<a href="#" class="btn btn-link btn-block article-card-link">
											Read More
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="article-card">
								<div class="article-card-block">
									<h4 class="article-card-title">How to train for a marathon</h4>
									<h6 class="article-card-subtitle text-muted">Support article-card subtitle</h6>
									<p class="article-card-text p-y-1">Some quick example text to build on the article-card title .</p>
									<div class="article-card-read-more">
										<a href="#" class="btn btn-link btn-block article-card-link">
											Read More
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="article-card">
								<div class="article-card-block">
									<h4 class="article-card-title">Creating a Community of Practice</h4>
									<h6 class="article-card-subtitle text-muted">Support article-card subtitle</h6>
									<p class="article-card-text p-y-1">Some quick example text to build on the article-card title .</p>
									<div class="article-card-read-more">
										<a href="#" class="btn btn-link btn-block article-card-link">
											Read More
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="article-card">
								<div class="article-card-block">
									<h4 class="article-card-title">Building a webpage</h4>
									<h6 class="article-card-subtitle text-muted">Support article-card subtitle</h6>
									<p class="article-card-text p-y-1">Some quick example text to build on the article-card title .</p>
									<div class="article-card-read-more">
										<a href="#" class="btn btn-link btn-block article-card-link">
											Read More
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</section>


</article>