<div class="container-top"></div>
<div class="container">


	<div class="row" style=" padding-top: 100px; padding-bottom: 100px; height: inherit;">

		<div class="col-md-6"
			style="background-color: rgba(220, 220, 220, 0.762);  text-align: center; height: 700px; padding-top: 100px;">
			<div>
				<img class="rounded-circle img-fluid" alt="Headshot" src="./images/headshot.png"
					style="width:200px ; height:auto ;">
				<h1>
					Collin Stolpa
				</h1>
				<h5>Software Engineer </h5>
				<div class="col-md-12">

					<a href="#"><i class="fa-brands fa-facebook fa-3x"></i></a>
					<a href="#"><i class="fa-brands fa-github fa-3x"></i></a>
					<a href="#"><i class="fa-brands fa-instagram fa-3x"></i></a>
					<a href="#"><i class="fa-brands fa-linkedin fa-3x"></i></a>

				</div>
			</div>
		</div>

		<!-- <div class="col-md-6 contactMeHome" style="padding: 250px 20px 10px 20px;"> -->
		<div class="col-md-6 contactMeHome" style="padding: 250px 20px 10px 20px;">
			<h3 class="text-left">
				About Me
			</h3>
			<p>
				Goal driven individual who is eager to expand and maintain their knowledge in the tools and culture of
				DevOps practices. I am an outgoing person who is very personable and team oriented. I consider myself a
				charismatic and proactive quick learner, who pays close attention to detail.
			</p>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<button class="button-54" role="button">Contact Me</button>
						</div>
						<div class="col-md-6">
							<button class="button-54" role="button">Resume</button>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>




</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">

					<blockquote class="blockquote">
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						</p>
						<footer class="blockquote-footer">
							Someone famous in <cite>Source Title</cite>
						</footer>
					</blockquote>
				</div>
				<div class="col-md-4">
					<blockquote class="blockquote">
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						</p>
						<footer class="blockquote-footer">
							Someone famous in <cite>Source Title</cite>
						</footer>
					</blockquote>
				</div>
				<div class="col-md-4">
					<blockquote class="blockquote">
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						</p>
						<footer class="blockquote-footer">
							Someone famous in <cite>Source Title</cite>
						</footer>
					</blockquote>
				</div>
			</div>
		</div>
	</div>


</div>